<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog text-light">
    <div class="modal-content bg-dark">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">WELCOME TO SPARKOUT FAMILY</h1>
        <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Modal Form  -->
        <form >
          <div class="form-floating mb-3">
              <input class="form-control" id="inputEmail" type="text" placeholder="name@example.com" name="userName"  />
              <label for="inputEmail">Email Your Name</label>
          </div>
          <div class="form-floating mb-3">
              <input class="form-control" id="inputPassword" type="email" placeholder="Password" name="userMailId" />
              <label for="inputPassword">Enter Your Email</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add User</button>
          </div>
      </form>
        <!-- form  -->
      </div>
      
    </div>
  </div>
</div>