<app-nav-bar></app-nav-bar>
<mat-card>
  <div class="example-button-row">
    <img src="https://cdn.dribbble.com/users/1447046/screenshots/7813949/media/2e5dcde12e9e661e3931ad3caf77affb.gif" class="w-25" alt="">
    <div>
      <h1 class="text-center h1" >Login</h1>
      <!-- <button mat-raised-button class="me-1 align" routerLink="">LOG IN</button>
    <button mat-raised-button class="" routerLink="register">Register</button> -->
    </div>
  </div>
  
  <mat-card-content fxLayoutAlign="center">
<form class="example-form" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
  <mat-form-field class="example-full-width">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="pat@example.com"  formControlName="email" name="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width mt-3">
    <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" name="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
  </mat-form-field>
  <div fxLayoutAlign="center">
  <button mat-raised-button color="primary" class="col-5" type="submit">Log In Now..</button>
  </div>
</form>
 </mat-card-content>
 <div fxLayoutAlign="end" class="mt-2"> 
 <a mat-raised-button href="https://www.google.com/" color="" target="_blank">Forgot password?</a>
</div>
<span *ngIf="this.error">Custem Error</span>
<div fxLayoutAlign="center" *ngIf="this.loading">
  <mat-spinner [diameter]="30" class="mt-3"></mat-spinner>
</div>
<div fxLayoutAlign="center" class="mt-3">
<p>Don't Have an Account? <span routerLink="/register" class="text-primary btn">Register now</span></p>
</div>
</mat-card>

